
Button{
    -fx-background-color: #2A325E;
    -fx-pref-width: 110px;
    -fx-text-fill: white;
    -fx-font-weight: bold;    
}

.split-menu-button > .label {
    -fx-background-color: #2A325E ;
    -fx-text-fill: white;
    -fx-font-weight: bold;    
}

.split-menu-button > .arrow-button {
    -fx-background-color: white ;
}

BorderPane{
    -fx-background-color: #262626;
}

.button:hover{
    -fx-background-color: #35A69B;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}